*.iml
.gradle
.idea
.kotlin
.fleet
.vscode
.vs
.DS_Store
build
/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
signingKey.properties
serverConstants.properties
*.apk
*.aab
*.jks
*.pepk
/captures
composeApp/cache
composeApp/kcef-bundle
composeApp/default.realm.management
composeApp/default.realm
composeApp/default.realm.lock
