*.iml
.gradle
.idea
.kotlin
.fleet
.vscode
.vs
.DS_Store
build
/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/app/release
/app/primakov
/app/dsr
signingKey.properties
*.apk
*.aab
*.jks
*.pepk
/captures
